<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" class="p-4">
    {% csrf_token %}
        <input type="text" name="patient_name" placeholder="Patient Full Name" required><br><br>

        <label>Select Doctor:</label>
        <select name="doctor" required>
            <option value="">-- Select Doctor --</option>
            {% for doctor in doctors %}
            <option value="{{ doc.id }}">{{ doctor.name }} - {{ doctor.specialty }}</option>
            {% endfor %}
        </select><br><br>

        <input type="date" name="date" required><br><br>
        <input type="text" name="time_slot" placeholder="Time Slot (e.g., 10:00 AM)" required><br><br>

        <button type="submit">Book Appointment</button>
    </form>

</body>
</html>